*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 160px;
  padding-right: 160px;
}

@media (max-width: 1316px) {
  .wrapper {
    padding-left: 90px;
    padding-right: 90px;
  }
}

@media (max-width: 1160px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.drop {
  position: relative;
  padding-top: 11px;
  padding-bottom: 11px;
}

.header-dropdovn {
  display: none;
  right: 20%;
  top: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: .3s all ease-in;
  transition: .3s all ease-in;
  position: absolute;
  background-color: white;
  padding: 9px 18px;
}

.header-dropdovn a {
  font-size: 12px;
  margin-bottom: 10px;
  color: black;
}

.header-dropdovn.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: white;
}

@media (max-width: 1050px) {
  .header {
    position: static;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

@media (max-width: 1050px) {
  .header__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__logo {
  min-width: 130px;
  height: 100%;
  position: relative;
  margin-right: 20px;
}

.header__logo-bg {
  width: 43vw;
  left: -575px;
  background: #f3bc00;
  height: 87px;
  -webkit-transform: skew(-30deg, 0deg);
          transform: skew(-30deg, 0deg);
  position: absolute;
}

@media (max-width: 1750px) {
  .header__logo-bg {
    width: 775px;
  }
}

.header__logo-inner {
  position: absolute;
  left: 0;
  top: 20px;
}

.header__logo-link {
  cursor: pointer;
  display: block;
}

.header__menu-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1050px) {
  .header__menu-container {
    margin-top: 40px;
  }
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 485px;
  min-height: 65px;
}

.header__contacts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.header__contacts-img {
  margin-right: 10px;
}

.header__contacts-img-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__contacts-text {
  color: black;
  font-size: 12px;
  font-weight: 400;
}

@media (max-width: 1050px) {
  .header__contacts {
    height: 100%;
  }
}

@media (max-width: 775px) {
  .header__contacts {
    min-width: 355px;
  }
}

@media (max-width: 610px) {
  .header__contacts {
    margin-top: 40px;
  }
}

@media (max-width: 400px) {
  .header__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.header__nav {
  padding: 8px 0;
  position: relative;
}

@media (max-width: 822px) {
  .header__nav-inner {
    display: none;
  }
}

.header__nav-item {
  color: black;
  font-size: 12px;
  line-height: 19px;
  padding: 0 42px;
  border-right: 1px solid black;
  position: relative;
  z-index: 4;
  cursor: pointer;
}

.header__nav-item:hover::after {
  width: 70%;
}

.header__nav-item::after {
  display: block;
  content: "";
  background-color: #1d1d1b;
  height: 2px;
  bottom: -9px;
  width: 0%;
  left: 50%;
  position: absolute;
  -webkit-transition: width 0.4s ease-in-out;
  -moz--transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media (max-width: 822px) {
  .header__nav-item {
    border-right: none;
  }
}

.header__nav-bg {
  position: absolute;
  z-index: 0;
  top: 0;
  width: 2000px;
  background: #f3bc00;
  right: -1206px;
  height: 36px;
  -webkit-transform: skew(-30deg, 0deg);
          transform: skew(-30deg, 0deg);
}

@media (max-width: 822px) {
  .header__nav-bg {
    display: none;
  }
}

.header__nav-item--w {
  padding-right: 80px;
}

@media (max-width: 1050px) {
  .header__nav-item--w {
    padding-right: 42px;
  }
}

.prevBtn,
.nextBtn {
  background-color: transparent;
  position: absolute;
  outline: none;
  border: none;
  cursor: pointer;
}

.prevBtn {
  left: 100px;
}

@media (max-width: 1000px) {
  .prevBtn {
    left: 20px;
  }
}

.nextBtn {
  right: 100px;
}

@media (max-width: 1000px) {
  .nextBtn {
    right: 20px;
  }
}

.main {
  position: relative;
  padding: 137px 0 100px 0;
  background-image: url("../images/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.main__title {
  margin-bottom: 20px;
  color: white;
  text-transform: uppercase;
}

.main__desc {
  max-width: 600px;
}

.main__desc-item {
  font-size: 21px;
  line-height: 25px;
  color: white;
  font-weight: 400;
}

@media (max-width: 750px) {
  .main__desc-item {
    padding: 0 80px;
  }
}

.main__btns {
  margin-top: 30px;
}

@media (max-width: 510px) {
  .main__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__btn {
  font-size: 17px;
  font-weight: bold;
  width: 200px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 10px;
}

.main__btn:nth-child(2) {
  margin-left: 33px;
}

.main__btn--yellow {
  color: #000000;
  background-color: #f3bc00;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.main__btn--yellow:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

@media (max-width: 510px) {
  .main__btn:nth-child(2) {
    margin-left: 0;
    margin-top: 30px;
  }
}

.section_map {
  min-height: 320px;
  margin-bottom: -50px;
  background-image: url("../images/map.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 5;
}

@media (max-width: 718px) {
  .section_map {
    margin-bottom: 15px;
  }
}

.section_contact-us {
  min-height: 342px;
  background-image: url("../images/port.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section_form {
  background-color: #f3bc00;
  padding-top: 60px;
}

.section_counters {
  margin-top: -65px;
  z-index: 5;
}

@media (max-width: 718px) {
  .section_counters {
    margin-top: 40px;
  }
}

.section_dignity {
  padding: 40px 0;
}

.section_dignity .section__title {
  margin-top: 20px;
}

.section_howDo .section__subtitle {
  margin-top: 25px;
}

.section__title {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin-top: 20px;
}

.section--dark {
  position: relative;
  padding: 35px 0;
  background-color: #1d1d1b;
}

.section--dark .section__title {
  margin-top: 0;
  color: white;
  margin-bottom: 5px;
}

.section--dark .separator {
  background-color: #f3bc00;
}

.section__subtitle {
  font-size: 27px;
  margin-top: 60px;
  text-align: center;
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
  padding-bottom: 20px;
}

.benefits__item {
  max-width: 260px;
}

.benefits__item:not(:last-child) {
  margin-right: 20px;
}

.benefits__item-title {
  min-height: 40px;
}

.benefits__item-title::before {
  content: url("../images/ar-bullet.png");
  margin-right: 10px;
}

@media (max-width: 900px) {
  .benefits__item {
    margin-bottom: 30px;
  }
}

@media (max-width: 900px) {
  .benefits__item {
    max-width: none;
    width: 100%;
  }
}

@media (max-width: 900px) {
  .benefits {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.map-block {
  max-width: 720px;
}

.map-block__desc {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: black;
}

@media (max-width: 650px) {
  .map-block__desc {
    font-size: 16px;
  }
}

.map-block__desc span {
  color: #f3bc00;
}

.services__item {
  margin-top: 60px;
}

.services__item-title {
  min-height: 40px;
}

.services__item-title::before {
  content: url("../images/ar-bullet.png");
  margin-right: 10px;
}

.about-service {
  background-color: #f3bc00;
  position: relative;
  margin-top: -15px;
  position: relative;
  z-index: 3;
}

.about-service__inner {
  padding: 65px 0;
}

.about-service__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.about-service__item {
  width: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 600px) {
  .about-service__item {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .about-service__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
    text-align: center;
  }
}

.about-service__item-img {
  margin-top: 20px;
  margin-right: 35px;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@media (max-width: 400px) {
  .about-service__item-img {
    margin-top: 0;
    margin-bottom: 10px;
    margin-right: 0;
  }
}

.about-service__item-desc {
  font-size: 12px;
}

.about-service__style--b {
  background-color: #f3bc00;
}

.service-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1020px) {
  .service-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.service-block--reverse .service-block__desc {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  max-width: 45%;
}

@media (max-width: 680px) {
  .service-block--reverse .service-block__desc {
    max-width: none;
  }
}

.service-block--reverse .service-block__img-wrap {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.service-block--reverse .service-block__img {
  z-index: 2;
  left: -40px;
  top: -29px;
}

@media (max-width: 1020px) {
  .service-block--reverse .service-block__img {
    left: -132px;
  }
}

.service-block__desc {
  max-width: 51%;
}

.service-block__desc .separator-block {
  text-align: start;
}

@media (max-width: 1020px) {
  .service-block__desc {
    margin: 40px 0;
  }
}

@media (max-width: 680px) {
  .service-block__desc {
    max-width: none;
  }
}

.service-block__title {
  font-size: 35px;
}

.service-block__img {
  position: absolute;
  z-index: 4;
  left: -200px;
}

.service-block__img-wrap {
  position: relative;
  min-width: 450px;
  height: 515px;
}

@media (max-width: 718px) {
  .service-block__img-wrap {
    position: static;
    min-width: auto;
    height: auto;
  }
}

@media (max-width: 1020px) {
  .service-block__img {
    left: -96px;
  }
}

@media (max-width: 718px) {
  .service-block__img {
    position: static;
    width: 400px;
  }
}

.counters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

@media (max-width: 766px) {
  .counters {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.count-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 70px;
}

@media (max-width: 1240px) {
  .count-item {
    border-left: 3px solid #70706f;
    border-right: 3px solid #70706f;
    padding: 0 25px;
  }
  .count-item:nth-child(2n) {
    border-left: none;
    border-right: none;
  }
  .count-item:first-child {
    border-left: none;
  }
}

.count-item:first-child {
  border-left: 3px solid #70706f;
}

.count-item:nth-child(2n) {
  border-left: 3px solid #70706f;
  border-right: 3px solid #70706f;
}

.count-item__num {
  color: #f3bc00;
  font-size: 35px;
  font-weight: bold;
}

.count-item__desc {
  margin-top: 15px;
  font-size: 16px;
  color: white;
}

@media (max-width: 766px) {
  .count-item {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #70706f;
  }
  .count-item:nth-child(2n) {
    border-left: none;
    border-right: none;
  }
  .count-item:first-child {
    border-left: none;
  }
}

.style-block {
  width: 60vw;
  height: 25px;
  -webkit-transform: skew(-30deg, 0deg);
          transform: skew(-30deg, 0deg);
  position: absolute;
}

.style-block--b {
  bottom: -24px;
  left: -20px;
}

.style-block--t {
  top: -24px;
  right: -20px;
}

.style-block--black {
  background-color: #1d1d1b;
}

.style-block--yellow {
  background-color: #f3bc00;
}

.separator {
  border-bottom: 2px solid #e4b505;
  display: inline-block;
  width: 123px;
}

.separator-block {
  text-align: center;
}

.sd {
  height: 500px;
}

.dignity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
}

@media (max-width: 800px) {
  .dignity {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.dignity__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 20px;
  background-color: #f3bc00;
  border-radius: 20px;
  max-width: 345px;
}

.dignity__item-img {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.dignity__item-desc {
  font-size: 14px;
  padding: 0 10px;
}

@media (max-width: 1370px) {
  .dignity__item {
    max-width: 30%;
  }
}

@media (max-width: 800px) {
  .dignity__item {
    max-width: none;
    margin-bottom: 30px;
  }
}

.contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-us__desc {
  font-size: 27px;
  font-weight: bold;
  color: white;
  max-width: 735px;
  text-align: center;
}

.contact-us__desc a {
  color: #f3bc00;
}

.howDo-lists {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.howDo-list {
  list-style-position: inside;
  -webkit-column-count: 2;
          column-count: 2;
  list-style-type: decimal;
  height: 350px;
  list-style-image: url("../images/ar-bullet.png");
}

.howDo-list__item {
  font-size: 14px;
  margin-bottom: 30px;
}

@media (max-width: 410px) {
  .howDo-list {
    max-width: none;
  }
}

@media (max-width: 870px) {
  .howDo-list {
    height: 400px;
  }
}

@media (max-width: 710px) {
  .howDo-list {
    height: 500px;
  }
}

@media (max-width: 550px) {
  .howDo-list {
    -webkit-column-count: 1;
            column-count: 1;
    margin-bottom: 40px;
    height: auto;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 35px;
  padding-right: 66px;
}

@media (max-width: 670px) {
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact-item {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  max-width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-item div {
  text-align: center;
}

.contact-item__title {
  display: inline-block;
  margin-top: 10px;
  font-size: 16px;
  color: white;
  text-align: center;
}

@media (max-width: 670px) {
  .contact-item__title {
    font-size: 20px;
  }
}

.contact-item__desc {
  margin-top: 15px;
  color: white;
  text-align: center;
  font-size: 12px;
}

@media (max-width: 670px) {
  .contact-item__desc {
    font-size: 16px;
  }
}

.contact-item__img-wrap {
  min-height: 30px;
}

.contact-item:hover .contact-item__title,
.contact-item:hover .contact-item__desc {
  color: #f3bc00;
}

@media (max-width: 670px) {
  .contact-item {
    margin-bottom: 40px;
    max-width: none;
  }
}

.form {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 49%;
  margin-bottom: 20px;
}

@media (max-width: 580px) {
  .form__item {
    width: 100%;
    margin-bottom: 40px;
  }
}

.form__label {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.form__input {
  min-height: 50px;
  outline: none;
  border: none;
  padding: 15px 26px;
  color: black;
}

.form__input::-webkit-input-placeholder {
  color: black;
}

.form__input:-ms-input-placeholder {
  color: black;
}

.form__input::-ms-input-placeholder {
  color: black;
}

.form__input::placeholder {
  color: black;
}

.form__textarea {
  padding: 15px 26px;
  outline: none;
  border: none;
}

.form__textarea::-webkit-input-placeholder {
  color: black;
}

.form__textarea:-ms-input-placeholder {
  color: black;
}

.form__textarea::-ms-input-placeholder {
  color: black;
}

.form__textarea::placeholder {
  color: black;
}

.form__textarea-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.form__submit {
  font-size: 16px;
  color: white;
  background-color: black;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px 18px;
  border-radius: 10px;
  text-transform: uppercase;
}

.form__submit-block {
  width: 100%;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer {
  background: #1d1d1b;
}

.footer__inner {
  padding: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 850px) {
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__nav-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

@media (max-width: 850px) {
  .footer__nav-inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 500px) {
  .footer__nav-inner {
    display: none;
  }
}

.footer__nav-item {
  margin-right: 20px;
  font-size: 12px;
  color: white;
}

@media (max-width: 550px) {
  .footer__nav-item {
    margin-right: 78px;
    margin-bottom: 30px;
  }
}

@media (max-width: 850px) {
  .footer__nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.footer__desc-item {
  font-size: 11px;
  color: white;
  max-width: 245px;
}

@media (max-width: 850px) {
  .footer__desc-item {
    max-height: none;
    text-align: center;
  }
}

@media (max-width: 850px) {
  .footer__desc {
    margin-top: 40px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }
}

@media (max-width: 500px) {
  .footer__desc {
    margin-top: 20px;
    margin-bottom: 0px;
  }
}

.footer__up-btn button {
  border: none;
  outline: none;
  background-color: transparent;
}

@media (max-width: 850px) {
  .footer__up-btn {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (max-width: 500px) {
  .footer__up-btn {
    display: none;
  }
}

/* Core */
.mob-menu {
  display: none;
}

@media (max-width: 822px) {
  .mob-menu {
    display: block;
  }
}

.mob-menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.mob-menu__nav.slide {
  right: -30px;
}

.mob-menu__nav a {
  color: black;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

/* Hamburger */
.menu-bars {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.menu-bars input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-bars span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: #f3bc00;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu-bars span:nth-child(2) {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.menu-bars span:nth-child(4) {
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

.menu-bars input:checked ~ span:nth-child(2) {
  background-color: white;
  -webkit-transform: rotate(45deg) translate(-1px, -1px);
          transform: rotate(45deg) translate(-1px, -1px);
}

.menu-bars input:checked ~ span:nth-child(4) {
  background-color: white;
  -webkit-transform: rotate(-45deg) translate(-1px, 0);
          transform: rotate(-45deg) translate(-1px, 0);
}

.menu-bars input:checked ~ span:nth-child(3) {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

/* Mobile Menu */
@media only screen and (max-width: 768px) {
  .mob-menu__nav {
    width: 50%;
  }
}

@media only screen and (max-width: 822px) {
  .menu-bars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1001;
  }
  .mob-menu__nav {
    z-index: 1000;
    position: absolute;
    right: -200%;
    top: -40px;
    padding: 0 28px;
    width: 75%;
    height: 100vh;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f3bc00;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
}

.pulse {
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
  border-radius: 50%;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.5);
  }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0.5);
            box-shadow: 0 0 0 10px rgba(204, 169, 44, 0.5);
  }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
            box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.bounce-2 {
  -webkit-animation-name: bounce-2;
          animation-name: bounce-2;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes bounce-2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce-2 {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=style.css.map */